
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.qtext {
    font-family: "Segoe UI";
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px saddlebrown;
    width: fit-content;
}
.top {
    font-family: "Segoe UI";
    display: grid;
    grid-template-columns: 1fr 25fr;
}

.custom-button{
    font-family: "Segoe UI";
    font-size: x-large;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px saddlebrown;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: auto;
    text-decoration: none;
}
.custom-dropdown-input {
    font-family: "Segoe UI";
    font-size: x-large;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px saddlebrown;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    text-decoration: none;
}

.bodything {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "Segoe UI";
    text-align: center;
    margin-inline: auto;
    align-content: center;
    color: saddlebrown;
    background: burlywood;
}
.bottomtext {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: auto;
}